{% extends 'base.html.twig' %}

{% block title %}Profil | {{ parent() }}{% endblock %}

{% block body %}

    <div class="columns my-5">
        <div class="column is-three-fifths is-offset-one-fifth">
            <h3 class="title is-3">Profil</h3>
            <div class="columns">
                <div class="column">
                    <figure id="imgProfile" class="image">
                        <img src="{{ asset('img/profile/') }}{{ profil.picture.fileName }}" >
                    </figure>
                </div>
                <div class="column">
                    <div>
                        {% if app.user.id != profil.user.id %}
                            <span id="{{ profil.user.id }}" class="LikePerson button is-medium is-pulled-right has-text-danger" style="border:none">
                                <span class="icon"><i class="fas fa-lg fa-heart"></i></span>
                            </span>
                        {% endif %}
                        <h4 class="title is-4">My lovely details</h4>
                        <p>{{ profil.info }}</p>
                    </div>

                </div>
            </div>
            <table class="table my-6">
                <tbody>
                <tr>
                    <td><span class="icon"><i class="fas fa-venus-mars"></i></span></td>
                    <th>Sex</th>
                    <td>{{ profil.sex ? 'Man' : 'Woman' }}</td>
                </tr>
                <tr>
                    <td><span class="icon"><i class="fas fa-user"></i></span></td>
                    <th>Username</th>
                    <td>{{ profil.user.username }}</td>
                </tr>
                <tr>
                    <td><span class="icon"><i class="fas fa-at"></i></span></td>
                    <th>Email</th>
                    <td>{{ profil.user.email }}</td>
                </tr>
                <tr>
                    <td><span class="icon"><i class="fas fa-gifts"></i></span></td>
                    <th>Birthday</th>
                    <td>{{ profil.dateBirthday|date("Y-m-d") }}</td>
                </tr>
                <tr>
                    <td><span class="icon"><i class="fas fa-street-view"></i></span></td>
                    <th>Post code</th>
                    <td>{{ profil.codePostal }}</td>
                </tr>
                <tr>
                    <td><span class="icon"><i class="fas fa-city"></i></span></td>
                    <th>City</th>
                    <td>{{ profil.city }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% if app.user.id == profil.user.id %}
        {% if profil.preference is null %}
        <div class="columns my-3">
            <div class="column is-three-fifths is-offset-one-fifth">
                <h3 class="title is-4">Add new preference</h3>
                {{ form_start(preferenceForm) }}
                {{ form_row(preferenceForm.sex) }}
                {{ form_row(preferenceForm.country) }}
                {{ form_row(preferenceForm.ageRange) }}
                <button type="submit" class="button is-large my-3" style="border:none">
                    <span class="icon"><i class="fas fa-2x fa-plus-circle"></i></span>
                </button>
                {{ form_end(preferenceForm) }}
            </div>
        </div>
        {% else %}
        <div class="columns my-3">
            <div class="column is-three-fifths is-offset-one-fifth">
                <h3 class="title is-4">Your preference</h3>
                <div class="card my-3">
                    <div class="card-content">
                        <div class="content">
                            <span class="icon-text has-text-info">
                                <span class="icon"><i class="fas fa-info-circle"></i></span>
                                <span>criteria to find love !</span>
                            </span>
                            <a class="is-pulled-right" href="{{ path('profile_removePreference', {id: profil.preference.id}) }}">
                                <span class="icon"><i class="far fa-trash-alt"></i></span>
                            </a>
                            <p class="my-0"><strong>Wanted sex : </strong>{{ profil.preference.sex? 'Man' : 'Woman' }}</p>
                            <p class="my-0"><strong>Location : </strong>{{ profil.preference.country }}</p>
                            <p class="my-0"><strong>Age range : </strong>Between {{ profil.preference.ageRange }} years old.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}

{% endblock %}