<!doctype html>
<html lang="fr">
<head>
    {#
    Meta :
    encodage UTF-8 Html5
    Responsive
    informations aux vieux navigateurs web IE
    #}
    <meta charset="UTF-8">
    <meta name="description" content="Site de rencontres amoureuses !" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#
    Google Fonts : Open Sans Condensed
    CSS
    framework BULMA
    Javascript
    Foontawsome
    #}
    <link rel="stylesheet"  type="text/css" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="{{ asset('js/appJs.js') }}" defer></script>
    {#
    flavicon
    Title
    #}
    <link rel="icon" type="image/gif" href="{{ asset('icon/favicon.png') }}" />
    <title>{% block title %}Fall-In-Love{% endblock %}</title>
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar my-3" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ path('main_home') }}">
                    <img src="{{ asset('icon/logo_rencontre.png') }}" width="50" height="50">
                    <span class="has-text-danger has-text-weight-medium ml-2">Fall-In-Love</span>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    {% if app.user %}
                        <a class="navbar-item" href="">
                            Find Love
                        </a>
                        <a class="navbar-item" href="{{ path('profile_info', {id: app.user.id}) }}">
                            My profile
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        {% if not app.user %}
                            <a class="button is-danger is-light" href="{{ path('app_register') }}">
                                <strong>Register</strong>
                            </a>
                            <a class="button is-light" href="{{ path('app_login') }}">
                                Sign In
                            </a>
                        {% else %}
                            <a class="button is-light" href="{{ path('app_logout') }}">
                                Sign Out
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>

        </nav>
    </div>

    {% block banner %}{% endblock %}

</header>
<main>

    <section class="container">
        {% block body %}{% endblock %}
    </section>

</main>
<footer class="footer mt-5">
    <section class="container">
        <div class="content has-text-centered">
            &copy; Bucket-List - {{ "now"|date("Y") }}
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <a href="{{ path('main_terms') }}">
                    <span class="icon mr-2"><i class="fas fa-clipboard-list"></i></span>
                    Terms of service
                </a>
            </div>
            <div class="column has-text-centered">
                <a href="{{ path('main_legalNotices') }}">
                    <span class="icon mr-2"><i class="fas fa-balance-scale-left"></i></span>
                    Legal notices
                </a>
            </div>
        </div>
    </section>
</footer>
</body>
</html>